@font-face {
  font-family: "Gothic-Diamond";
  src: url(Diamond-Gothic-V3.otf) format("truetype");
}

#welcome-container {
  height: 750px;
  width: 100%;
  position: absolute;
  top: 0;
  background: url(underwater_library_by_studio_sunshine-d3a6nbp.jpg) 
    top center 
    no-repeat 
    black;
}

#header {
  text-align: center;
}

#header h1 { 
  font-family: Gothic-Diamond;
}

#header h2 {
  font-family: Gothic-Diamond;
}

.image-container img {
  background-color: green; 
  max-width: 100%;
  max-height: 200px;
}

.image-container .image {
  height: 200px;
  text-align: center;
}

html body div.center-block.col-md-3.thumbnail div#image-box div#image-view img {
  padding: 10px;
  height: 300px;
  margin: 0 auto;
  display: block;
}

.thumbnail {
  background-image: url("light-blue-texture.jpg") !important;
}

#title {
  font-family: "Gothic-Diamond";
}

#welcome-container {
  background: url(underwater_library_by_studio_sunshine-d3a6nbp.jpg);
        width: 100%, 100%;
      margin: 0 auto;
}

a:hover {
  text-decoration: none !important;
} 

div.center-block {
  float: none;
}

#new_book .form-control {
  padding: 0;
  margin: 10px 0;
}

.form-control input, .form-control select {
  width: 100%;
  height: 100%;
  border: none;

}